ul {width: 880px;
   overflow: hidden;
   margin: 0 auto;
   padding: 10px;


}


li {background-color:green;
    display: block;
    margin: 10px;
    width: 200px;
    height: 200px;
    float: left;
    box-shadow: black 5px 0 5px 0
  }

  a {height: 100px;
     background-color: ;
     display: block;}
/*
.anulador {clear: both;
}
*/

#a01 {background-image: url(img/a01.png);
  background-size: 220px;
}
#a02 {background-image: url(img/a02.png);
  background-size: 220px;
}
#a03 {background-image: url(img/a03.png);
  background-size: 220px;
}
#a04 {background-image: url(img/a04.png);
  background-size: 220px;
}
#a05 {background-image: url(img/a05.png);
  background-size: 220px;
}
#a06 {background-image: url(img/a06.png);
  background-size: 220px;
}
#a07 {background-image: url(img/a07.png);
  background-size: 220px;
}
