body{
  font-family: helvetica, sans-serif;
  margin:0;
  padding: 0;
  background-color: #222;
}



.barra{
  position: fixed;
  background-color: black;
  filter: opacity(50%);
  height: 40px;
  width: 100%;
  top:0px;

}

.logo{
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

ul{
  list-style:none;
  color:#FFF;
  position: fixed;
  margin:0;
  padding:0;
  top:8px;
}

li{
  text-decoration: none;
  display: block;
  float:left;
  padding: 10px;
  color: #FFF;
  margin:2px;
}

a{
  color: #CCC;
  text-decoration: none;
}

a:hover{
  color:#FFF;
  text-decoration: underline;
}

#inicio{
  float: left;
  left:70px;
}

#redes{
  right:20px;
}

.interesants{
  position: static;
  font-size: 22px;
  color:#FFF;
  left:20px;
  margin-top: 65px;
  margin-left: 20px;
  clear: both;
}

.pendents{
  position: static;
  font-size: 22px;
  color:#FFF;
  left:20px;
  margin-top: 65px;
  margin-left: 20px;
  clear: both;
}

.documentals{
  margin-left: 20px;
  margin-top: 10px;
  width:175px;
  border-radius: 5px;
  float: left;
  position: static;
}

.titol{
  margin:0;
  padding:0;
  color: #CCC;
  font-size: 14px;
}

.any{
  color: #CCC;
  font-size:11px;
  float: left;
}

.tipus{
  color: #CCC;
  font-size: 11px;
  float:right;
}

.grey{
  margin-left: 20px;
  margin-top: 10px;
  width:175px;
  border-radius: 5px;
  float: left;
  position: static;
  filter: grayscale(100%);
}

.info1{
  margin-left: 40px;
  margin-top: 80px;
  width:175px;
  border-radius: 5px;
  float: left;
  position: static
}
