p {width: 800px;
  font-size: 1,5em;
  line-height: 1em;
  text-align: justify;

}
img {width: 100px;

}
div {width: 800px;
     margin: 0 auto;
   }

.esquerra {float: left;
  margin-right: 10px;
  visibility: hidden;
}

.dreta {float: right;
        margin-left: 10px;

}

.capitular {float: left;
            margin-left: 20px;
            width: 100px;
          }

  .inicial {text-indent: -16px;
  }

.inicial::first-letter {color: white;
}

.c1 {width: 390px;
     float: left;
}

.c2 {width: 390px;
    float:right;
  }

.c3 {width: 390px;
      float:right;
    }
  h2 {
    font-family: georgia, times;
    font-family: helvetica, arial, sans-serif;

  }
